* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    
}

:root {
    --primary: #000;
    --primary-light: #282828;
    --secondary:#141922;
    --top-bar: #090b12;
}
/* SELECTORS TAGS */

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
ul {
    list-style: none;
}

ul li a {
    padding: .5rem .75rem;
    display: inline-block;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: gray;
}
h1, h2, h3{
    margin: .5rem 0;
    color: white;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.2rem;
}
h3 {
    font-size: .9rem;
}

/* CLASSES TAGS */

/* common classes */

.footer {
    flex-shrink: 0;
}

.container {
    position: relative;
}
.bgcolor-primary {
    background-color: var(--primary);
}
.bgcolor-primary-light {
    background-color: var(--primary-light);
}
.bgcolor-secondary {
    background-color: var(--secondary);
}
.bgcolor-topbar {
    background-color: var(--top-bar);
}
.text-white {
    color: white;
}
.text-center {
    text-align: center
}
.opacity-70 {
    opacity: .7;
}
.text-right {
    text-align: right;
}
.text-uppercase {
    text-transform: uppercase;
}
.btn {
    padding: .75rem 1.5rem;
    color: white;
    cursor: pointer;
    border-radius: 2rem;
    font-size: .7rem;
}
.btn-outline-light {
    border: 1px solid white;
    background-color: transparent;
}
.card {
    max-width: 200px;
    flex-shrink: 0;
}
.card-image {
    width: 100%;
    aspect-ratio: 1/1;
    margin: 0 auto;
}
.card-image img {
    max-width: 100%;
    object-fit: cover;
}
.card-subtitle {
    color: gray;
}
/* utilities */

.d-flex {
    display: flex;
}
.d-flex-column {
    display: flex;
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.flex-grow-1{
    flex-grow: 1;
}
.flex-shrink-0 {
    flex-shrink: 0;
}
.align-self-center {
    align-self: center;
}
.gap-1 {
    gap:1rem;
}


/* padding and margin */

.padding-left-hf {
    padding-left: .5rem;
}



/* main */

.sidebar {
    flex-shrink: 0;
    min-width: 250px;
}
.sidebar-logo {
    min-height: 70px;
}
.sidebar-logo, .sidebar-menu, .sidebar-playlist, .sidebar-user {
    padding: 1rem;
}
.header-container {
    min-height: 70px;
}
.header-container {
    padding: 1.5rem 1rem;
}
.header-container {
    min-height: 70px;
    position: sticky;
    background-color:var(--top-bar);
}
.square {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: .5rem;

}
.sidebar-playlist button {
    background-color: transparent;
    border: 0;
    display: flex;
    cursor: pointer;
}
.sidebar-playlist button span {
    align-self: center;
    padding-left: 1rem;
    font-weight: bold;
    color: gray;
}
.container-playlist {
    overflow: hidden;
}
.container-playlist ul li a {
    padding-left: 0;
}
.profile {
    width: 40px;
    padding: .5rem;
    overflow: hidden;
    aspect-ratio: 1/1;
    background-color: gray;
    border-radius: 50%;
}
.profile img {
    object-fit: cover;
}
.menu ul li a {
    padding: 1rem .5rem;
    font-size: .9rem;
}
.recently-played {
    padding-left: 2rem;
}
.container-recently-played {
    padding: 1rem;
    overflow: scroll hidden;
    width: 95%;
}