* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    font-size: .8rem;
}

:root {
    --primary: #000;
    --primary-light: #282828;
    --secondary:#141922;
    --top-bar: #090b12;
}
/* SELECTORS TAGS */

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
ul {
    list-style: none;
}

ul li a {
    padding: .5rem .75rem;
    display: inline-block;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: gray;
}
h1, h2, h3{
    margin: .5rem 0;
    color: white;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.2rem;
}
h3 {
    font-size: .9rem;
}

/* CLASSES TAGS */

/* common classes */

.footer {
    flex-shrink: 0;
    background-color: var(--primary-light);
}
.logo-small {
    display: none;
}
.container {
    position: relative;
}
.bgcolor-primary {
    background-color: var(--primary);
}
.bgcolor-primary-light {
    background-color: var(--primary-light);
}
.bgcolor-secondary {
    background-color: var(--secondary);
}
.bgcolor-topbar {
    background-color: var(--top-bar);
}
.text-white {
    color: white;
}
.text-gray {
    color: gray;
}
.text-center {
    text-align: center
}
.opacity-70 {
    opacity: .7;
}
.text-right {
    text-align: right;
}
.text-uppercase {
    text-transform: uppercase;
}
.btn {
    padding: .75rem 1.5rem;
    color: white;
    cursor: pointer;
    border-radius: 3rem;
    font-size: .7rem;
}
.btn-outline-light {
    border: 1px solid white;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-menu {
    max-width: 2rem;
    width: 100%;
}
.card {
    max-width: 200px;
    flex-shrink: 0;
}
.card-image {
    width: 100%;
    aspect-ratio: 1/1;
    margin: 0 auto;
}
.card-image img {
    max-width: 100%;
    object-fit: cover;
}
.card-subtitle {
    color: gray;
    font-size: .8rem;
}
/* utilities */

.d-flex {
    display: flex;
}
.d-flex-column {
    display: flex;
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.flex-grow-1{
    flex-grow: 1;
}
.flex-shrink-0 {
    flex-shrink: 0;
}
.align-self-center {
    align-self: center;
}
.gap-1 {
    gap:1rem;
}
.gap-2 {
    gap: 2rem;
}
.space-between {
    justify-content: space-between;
}

/* padding and margin */

.padding-left-hf {
    padding-left: .5rem;
}
.padding-1{
    padding: 1rem;
}



/* main */
.main-container {
    overflow: hidden;
    position: relative;
}
.sidebar-mobile {
    display: none;
}
.sidebar {
    flex-shrink: 0;
    min-width: 250px;
}
.sidebar-logo {
    min-height: 90px;
}
.sidebar-menu ul li a {
    padding-left: 0;
}
.sidebar-playlist {
    overflow: hidden;
}
.sidebar-logo, .sidebar-menu, .sidebar-playlist, .sidebar-user {
    padding: 1rem;
}
.header-container {
    padding: 1.5rem 1rem;
}
.header-container {
    min-height: 90px;
    position: fixed;
    top: 0;
    right: 0;
    left: 250px;
    background-color:var(--top-bar);
}
.body-container {
    margin-top: 90px;
    overflow: auto;
}
.square {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: .5rem;

}
.sidebar-playlist button {
    background-color: transparent;
    border: 0;
    display: flex;
    cursor: pointer;
}
.sidebar-playlist button span {
    align-self: center;
    padding-left: 1rem;
    font-weight: bold;
    color: gray;
}
.container-playlist {
    height: 100%;
    padding-top: .5rem;
}
.container-playlist ul{
    overflow: auto;
    height: 100%;
}
.container-playlist ul li a {
    padding-left: 0;
}
.profile {
    width: 40px;
    padding: .5rem;
    overflow: hidden;
    aspect-ratio: 1/1;
    background-color: gray;
    border-radius: 50%;
}
.profile img {
    object-fit: cover;
}
.menu ul li a {
    padding: 1rem .5rem;
    font-size: .9rem;
}
.body-container {
    padding-left: 2rem;
}
.horizontal-scroll {
    padding: 1rem 0;
    overflow: scroll hidden;
    width: 95%;
}
.recently-played, .suggested-container, .artist-container {
    padding: 1rem 0;
}
.suggested-container span, .artist-container span {
    color: gray;
    font-size: .8rem;
}
.artist-container .card .card-image img {
    border-radius: 50%;
}
.col-footer {
    max-width: 200px;
    width: 100%;
}
.col-1 {
    padding: .5rem;
    max-width: 25%;
}

.col-1 img{
    max-width: 100%;
    object-fit: cover;
}
.col-2 {
    padding: 0 .5rem;
}
.col-2 .card-title h2 {
    font-size: .9rem;
    margin: 0;
}
.col-2 .card-title span {
    font-size: .7rem;
    color: gray;
}
.footer .container {
    padding: 0 6rem;
}
.btn-controls, .progressive-container {
    padding-top: 1rem;
}
.progressive-container {
    padding-bottom: 1rem;
}
.btn-controls {
    font-size: 1.5rem;
}
.btn-controls .fa-circle-play {
    font-size: 2.2rem;
}

/* .progressive-bar, .volume-bar {
    padding: 0 1rem;
} */
.bar {
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
    height: 3px;
    background-color: lightgrey;
    position: relative;
    border-radius: 3px;
}
.progress, .volume {
    width: 30%;
    background-color: gray;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}

/* MEDIA QUERIES */
@media screen and (max-width:1099px) {
    html {
        font-size: .7rem;
    }
    .menu .d-flex {
        flex-wrap: wrap;
    }
    .horizontal-scroll {
        overflow: unset;
        width: 100%;
        flex-wrap: wrap;
    }
    
    
}
@media screen and (max-width:1099px) and (min-width:700px) {
    .card {
        max-width: 135px;
    }
    
}
@media screen and (max-width:699px) and (min-width:600px) {
    .sidebar-logo img {
        max-width: 70%;
    }
    .card {
        max-width: 150px;
    }
    .footer .container {
        padding: 0 3rem;
    }
    .btn-controls {
        font-size: 1rem;
    }
    .col-footer {
        max-width: 150px;
    }
    .col-1 .d-flex {
        flex-direction: column;
    }

}
@media screen and (max-width:599px) {
    .logo-big {
        display: none;
    }
    .logo-small {
        display: block;
    }
    .sidebar-mobile img {
        max-width: 40px;
    }
    .sidebar-mobile {
        display: block;
        max-width: 50px;
    }
    .sidebar-mobile .sidebar-user {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 50px;
    }
    .sidebar {
        position: absolute;
        left: -100%;
        transition: all 1s ease-in-out;
    }
    .header-container {
        left: 50px;
    }
    .card {
        max-width: 175px;
    }
    .footer .container {
        padding: 0 3rem;
    }
    .btn-controls {
        font-size: 1rem;
    }
    .col-footer {
        max-width: 150px;
    }
    .col-1 .d-flex {
        flex-direction: column;
    }

}